modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://neondb_owner:npg_f6zHTucyam0Z@ep-small-heart-agjrcowk-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
BOT_TOKEN = "8074878440:AAEgi61kaBrUlfyVksyQ_zZLBrONMhAf_rU"
OWNER_TELEGRAM_ID = "7729022720"
CHANNEL_ID = "-1002889052376"
ADMIN_TOKEN = "110917"
RESEND_API_KEY = "re_h4v6TkUk_NUoP1XUtvPknzphaU95vdX4N"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Web App"

[[workflows.workflow]]
name = "Flask Web App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38709
externalPort = 3000

[[ports]]
localPort = 39139
externalPort = 3002

[[ports]]
localPort = 41565
externalPort = 3001

[[ports]]
localPort = 42673
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "--workers=2", "app:app"]
