modules = ["python-3.12", "nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "gitFull", "lcms2", "libiconv", "libimagequant", "libjpeg", "libsodium", "libtiff", "libwebp", "libxcrypt", "ollama", "openjpeg", "openssl", "pkg-config", "playwright-driver", "rustc", "tcl", "tk", "zlib", "nspr", "nss", "dbus", "at-spi2-atk", "cups", "libxkbcommon", "at-spi2-core", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXfixes", "mesa", "cairo", "pango", "alsa-lib"]

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://neondb_owner:npg_f6zHTucyam0Z@ep-small-heart-agjrcowk-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require"
BOT_TOKEN = "7755508015:AAHADtYG925Q821oBCk_untY4O6LZcf39FY"
OWNER_TELEGRAM_ID = "8305740334"
CHANNEL_ID = "-1002889052376"
ADMIN_TOKEN = "110917"
RESEND_API_KEY = "re_h4v6TkUk_NUoP1XUtvPknzphaU95vdX4N"
TON_WALLET_ADDRESS = "UQAHsM7lUC154Ma_dhecwNaBc5b0TrUoUnBw7tZ50_y2FT59"
USER_TELEGRAM_ID = "7729022720"
B3C_USE_TESTNET = "false"
B3C_NETWORK = "mainnet"
B3C_TOKEN_ADDRESS = "EQDQI0-UQ56AuBGTWNDgLPE6naQYFvrZTcRt-GI7jx6dwSmM"
B3C_HOT_WALLET = "UQAHsM7lUC154Ma_dhecwNaBc5b0TrUoUnBw7tZ50_y2FT59"
B3C_COMMISSION_WALLET = "UQAHsM7lUC154Ma_dhecwNaBc5b0TrUoUnBw7tZ50_y2FT59"
B3C_FIXED_PRICE_USD = "0.10"
B3C_USE_FIXED_PRICE = "true"
HIDE_2FA_LOGS = "false"
DEMO_2FA_SECRET = "VTXLINDMQVF7J2OAK2TP6K2D4HUPYWJ2"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Web App"

[[workflows.workflow]]
name = "Flask Web App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34355
externalPort = 6000

[[ports]]
localPort = 38931
externalPort = 9000

[[ports]]
localPort = 39139
externalPort = 3002

[[ports]]
localPort = 39457
externalPort = 5173

[[ports]]
localPort = 40091
externalPort = 8080

[[ports]]
localPort = 40465
externalPort = 4200

[[ports]]
localPort = 41565
externalPort = 3001

[[ports]]
localPort = 42673
externalPort = 3003

[[ports]]
localPort = 42761
externalPort = 8099

[[ports]]
localPort = 42823
externalPort = 8008

[[ports]]
localPort = 43277
externalPort = 3000

[[ports]]
localPort = 43279
externalPort = 8081

[[ports]]
localPort = 43519
externalPort = 6800

[[ports]]
localPort = 44433
externalPort = 8000

[[ports]]
localPort = 46435
externalPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "--workers=2", "app:app"]
